<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRC Team 3407</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
</head>
<body>
    <!--    Top Sticky Bar    -->
    <div hx-trigger="load" hx-get="navbar.html" hx-swap="innerHTML">Navbar loading...</div>

    <!--    Most Text     -->
    <h1 class="text-center big-title">Upcoming events?</h1>
    <h1 class="text-center">We have no events</h1>


    <!--   Bottom Section. Contains some links    -->
    <div hx-trigger="load" hx-get="footer.html" hx-swap="innerHTML">Footer loading...</div>

</body>
</html>