<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRC Team 3407</title>
    <link rel="stylesheet" href="style.css">

    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
</head>

<body>
    <!--    Top Sticky Bar    -->
    <div hx-trigger="load" hx-get="navbar.html" hx-swap="innerHTML">Navbar loading...</div>

    <!--    Most Text     -->
    <h1 class="text-center big-title">Student Resources</h1>

    <h2>FIRST Information</h2>
    <a href="https://www.firstinspires.org/robotics/frc/game-and-season">FIRST Website</a>
    <h2>2024 FIRST Competition: Crescendo</h2>
    <p><b>TODO: put stuff here</b></p>
    <h2>Past competitions</h2>
    <a href="https://www.youtube.com/watch?v=I77Dz9pfds4">FRC 2021: Infinite Recharge</a>
    <br>
    <a href="https://youtu.be/EVC_h4hHwZA">FRC 2019: Einstein Final 1</a>
    <br>
    <a href="https://youtu.be/drL2y0rYo3I">FRC 2019: Einstein Final 2</a>
    <img src="imgs/horse.jpg" alt="horse">

    <!--   Bottom Section. Contains some links    -->
    <div hx-trigger="load" hx-get="footer.html" hx-swap="innerHTML">Footer loading...</div>
    

</body>

</html>